.output {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;

    width: 100%;
    height: auto;
    min-height: 120px;

    margin-bottom: 15px;
    padding: 15px;

    background-color: rgba(0, 0, 0, 0.561);

    box-shadow: inset 5px -5px 30px 2px #0000008f;
    border-radius: 10px;
}
.output__current-operand {
    font-size: 2.3rem;
    line-height: 100%;
    text-align: right;

    word-wrap: break-word;
    word-break: break-all;
}